<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="bbc1e0">  <td>18/07/11 19:53:39</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Driverscript.beforeMethod()[pri:0, instance:test.Driverscript@5419f379]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@87765719</td>   <td></td> </tr>
<tr bgcolor="bbc1e0">  <td>18/07/11 19:53:39</td>   <td>140</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Driverscript.executeMethod()[pri:0, instance:test.Driverscript@5419f379]">executeMethod</td> 
  <td>main@87765719</td>   <td></td> </tr>
<tr bgcolor="bbc1e0">  <td>18/07/11 19:55:13</td>   <td>94126</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Driverscript.afterMethod()[pri:0, instance:test.Driverscript@5419f379]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@87765719</td>   <td></td> </tr>
</table>
