<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>TestAssignment</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="85796e">  <td>18/07/11 22:33:48</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Driverscript.beforeMethod()[pri:0, instance:test.Driverscript@d2cc05a]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1418621776</td>   <td></td> </tr>
<tr bgcolor="85796e">  <td>18/07/11 22:33:48</td>   <td>294</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Driverscript.executeMethod()[pri:0, instance:test.Driverscript@d2cc05a]">executeMethod</td> 
  <td>main@1418621776</td>   <td></td> </tr>
<tr bgcolor="85796e">  <td>18/07/11 22:35:47</td>   <td>119774</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Driverscript.afterMethod()[pri:0, instance:test.Driverscript@d2cc05a]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1418621776</td>   <td></td> </tr>
</table>
